body { background: #696c6b; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 48px; display: flex; }
.block-shipping-0 { color: #6c3cc4; font-size: 20px; margin-bottom: 5px; }
.block-search-1 { color: #b44158; font-size: 21px; margin-bottom: 5px; }
.block-product-2 { color: #98633; font-size: 19px; margin-bottom: 5px; }
.block-order-3 { color: #8874cb; font-size: 12px; margin-bottom: 5px; }
.block-filter-4 { color: #7106f0; font-size: 21px; margin-bottom: 5px; }